<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="css/open-iconic-bootstrap.css" rel="stylesheet">
  <title>School App</title>
</head>
<body>
  <div class="main-page container d-flex justify-content-center">
    <div class="centered col-10 mt-5 mb-5">
      <form action="createclass2.html">
        <div class="form-group">
          <label for="schoolName">Hold on, when does your school start this year?</label>
          <input type="date" name="schoolName" class="form-control" id="schoolName" placeholder="Enter school's resumption date">
        </div>
        <div class="form-group">
          <label for="schoolName">When does your school end this year?</label>
          <input type="date" name="schoolName" class="form-control" id="schoolName" placeholder="Enter school's closing date">
        </div>
        <button type="submit" class="btn btn-primary">Proceed <span class="oi oi-arrow-right"></span></button>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>